# {{ ansible_managed }}

# Shared entries
{{ all_bootloader | default ("") }}

{%- for group in group_names %} 
  {%- set group_entries = group + '_bootloader' -%}
  # Entries for ansible group {{ group }}
  {{ hostvars[inventory_hostname][group_entries] | default ("") }}
{%- endfor -%}

