# {{ ansible_managed }}

# Shared entries
{{ all_rcconf }}

{%- for group in group_names %} 
  {%- set group_entries = group + '_rcconf' -%}
  # Entries for ansible group {{ group }}
  {{ hostvars[inventory_hostname][group_entries] | default ("") }}
{%- endfor -%}

{% if private_ip is defined %}
  ifconfig_{{ internal_network_interface }}="inet {{ private_ip }}/16"
{% else %}
  ifconfig_{{ internal_network_interface }}="inet {{ ansible_host }}/16"
{% endif %}
