HELIX_JWT_KEY="{{ helix_environment['HELIX_JWT_KEY'] }}"
HELIX_DB_PREFIX="{{ helix_environment['HELIX_DB_PREFIX'] }}"; export HELIX_DB_PREFIX
HELIX_DB_HOST="{{ helix_environment['HELIX_DB_HOST'] }}"; export HELIX_DB_HOST
HELIX_DB_USER="{{ helix_environment['HELIX_DB_USER'] }}"; export HELIX_DB_USER
HELIX_DB_PASS="{{ helix_environment['HELIX_DB_PASS'] }}"; export HELIX_DB_PASS
HELIX_DB_POOL_SIZE={{ helix_environment['HELIX_DB_POOL_SIZE'] }}; export HELIX_DB_POOL_SIZE
MIX_ENV="{{ helix_environment['MIX_ENV'] }}"; export MIX_ENV
