server {
    listen 80;
    server_name 1.hackerexperience.com;

    access_log /var/log/nginx/1.access.log combined buffer=10m flush=5m;
    error_log /var/log/nginx/1.error.log warn;

    root {{ heborn_path }};

    set_real_ip_from 192.168.0.0/16;
    real_ip_header X-Real-IP;
    real_ip_recursive on;

    location ~* \.(?:css|js)$ {
        expires 1h;
    }
}
