server {
    listen 80;
    server_name ci.hackerexperience.com;

    access_log /var/log/nginx/jenkins.access.log combined buffer=10m flush=5m;
    error_log /var/log/nginx/jenkins.error.log warn;

    location / {
      proxy_set_header        Host $host;
      proxy_set_header        X-Real-IP $remote_addr;
      proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header        X-Forwarded-Proto $scheme;

      proxy_pass          http://192.168.20.10:8180/;
      proxy_read_timeout  90;
    }
}
