server {

    listen 80;
    server_name migrate.hackerexperience.com;
    access_log off;
    error_log off;

    location / {

      proxy_set_header  Host $host;
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-Forwarded-Proto https;
      proxy_set_header  X-Forwarded-For $remote_addr;
      proxy_set_header  X-Forwarded-Host $remote_addr;
      proxy_pass http://{{ private_migrate1_private_ip }}:80;
    }

}
